$background-color: #5498BB
$font-color: #5D686B
@keyframes spin
  from 
    transform: rotate(0deg)
  to 
    transform: rotate(360deg)
#pokemon-spinner
  animation-name: spin
  animation-duration: 3s
  animation-iteration-count: infinite
#dropdown-menu
  min-width: 150px
  min-height: 50px
  text-align: center
body
  background-color: $background-color
  .App
    border: 3px solid $font-color
    color: $font-color
    max-width: 600px
    min-width: 480px
    margin: 0 auto
    background-color: white
    .pokemon-name
      text-align: center
      color: white
      font-size: 22px
      font-weight: 800
      padding: 20px
    .bio
      margin: 30px 0px
      .img-column
        vertical-align: top
        text-align: center
        box-sizing: border-box
        width: 30%
        display: inline-block
      .text-column
        width: 70%
        box-sizing: border-box
        display: inline-block
        .physical-stats
          display: flex
          text-align: center
          .physical-stat
            flex: 1
            .main
              font-weight: 600
              font-size: 16px
            .sub
              font-weight: 400
              font-size: 12px
            &:nth-child(2)
              border-right: 1px solid black
              border-left: 1px solid black
        .fun-fact
          margin-top: 20px
    .main-type
      margin-bottom: 10px
      max-width: 400px
      min-width: 150px
      padding: 10px
      display: inline-block
      border-radius: 30px 0px 0px 30px
      color: white
      .type-name
        font-size: 16px
        font-weight: 800
      .type-label
        font-size: 12px
    .stats-data
      margin: 0 auto
      .types-column
        display: inline-block
        width: 40%
        text-align: right
        box-sizing: border-box
        vertical-align: top
        .type-relation-set
          margin: 10px 10px 0px 0px
          .element
            display: inline-block
            margin: 0px 5px
            width: 45px
            padding: 10px 0px
            text-align: center
            color: white
          .label
            margin: 5px 0px
      .chart-column
        width: 60%
        max-height: 335px
        display: inline-block
        box-sizing: border-box
        border: 3px solid
        border-right: 0px
    .evo-chain
      text-align: center
      margin-top: 25px
      .poke-img
        display: inline-block
      .poke-req
        display: inline-block
        vertical-align: top
        padding-top: 40px
        .evolve-level
          font-weight: 800
          .lvl-label
            font-size: 10px
          .evolved-label
            font-size: 16px


  